<h1><%= image_tag(@element.user.avatar.url(:thumb), :class => "img-circle" ) %>
<% if user_signed_in? && current_user == @user %>
  <%= current_user.name %></h1>
<% else %>
<%= @element.user.name %></h1>
<% end %>

<hr>

<div class="row">
  <div class="col-md-7">
    <p><%= image_tag(@element.evidence.url(:large), :class => "img-responsive-center")%></p>
  </div>
  <div class="col-md-5">
    <p><strong>Title</strong></p>
    <p><%= @element.title %></p>

    <p><strong>Standard</strong></p>
    <p><%= @element.standard %></p>

    <p><strong>Description</strong></p>
    <p><%= @element.description %></p>

  </div>
</div>

<%= link_to 'Edit', edit_element_path(@element) %> |
<%= link_to 'Back', elements_path %>
