<h1><%= image_tag(@user.avatar.url(:medium), :class => "img-circle" ) %>
<% if user_signed_in? && current_user == @user %>
  <%= current_user.name %></h1>
<% else %>
  <%= @user.name %></h1>
<% end %>

<hr>

<% @user.elements.in_groups_of(2, false) do |elements| %>
  <!-- Projects Row -->
  <div class="row">
    <% elements.each do |element| %>
      <div class="col-md-6 portfolio-item">
        <h3><%= element.title %></h3>
        <img class="img-responsive" src="http://placehold.it/700x400" alt="<%= element.evidence %>" title="<%= element.evidence %>">
        <h5>(<%= element.standard %>)</h5>
        <p><%= element.description %></p>
        <%= link_to 'Show', element %>
        <% if element.user == current_user %>
          <%= link_to 'Edit', edit_element_path(element) %>
          <%= link_to 'Destroy', element, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
    <% end %>
  </div>
  <!-- /.row -->
  <br>
<% end %>

<br>
<%= link_to 'New Element', new_element_path %>
